body {
  width: 100%;
}

.wrapper {
  position: absolute;
  bottom:0;
  left:0;
  min-height: 200px;
  width: 100%;
  align-items: center;
}

.keyboard-layout {
  margin: 0 auto;
  width:60%;
  text-align: center;
  background-color: rgb(39, 36, 36);
  border: 1px solid #000000;
  padding: 10px 5px 20px 5px;
}

.text-input {
  display: block;
  width: 70%;
  height: 400px;
  position: relative;
  margin: 200px auto;
  resize: none;
  background-color: #F5F5DC;
  text-overflow: hidden;
  border: 2px solid #000000;
  outline: none;
  font-size: 20px;
}

.key-btn {
  height: 40px;
  width: 6%;
  margin: 0.2%;
  border: none;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: top;
  outline: none;
  color: #ffffff;
  background-color:#A9A9A9;
  border-radius: 2px;
  font-size: 14px;

}

.active {
  transform: scale(0.9);
  transition: all 0.1s;
  background:radial-gradient(#A9A9A9, #3B444B);
}

.large {
  width: 12%;
}

.half-large {
  width: 9%;
}

.space {
  width: 41%;
}

.information {
  position: absolute;
  top:0;
}
